*{
    margin:0;
    padding:0;
}

html{
    font-size: 20px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

body{
}

h1{
    color: red;
    font-size: 300%;
}

.header ul li a.loggedIn {
    display: none;
}

body.loggedIn .header ul li a.loggedout{
    display: none;
}

body.loggedIn .header ul li a.loggedIn{
    display: inline-block;
}

#error{
	position:relative;
	display: hidden;
	width: 100%;
	height:fit-content;
	padding: 5px 10px;
	color: white;
	background-color: rgba(255, 0, 0, 0.621);
}

