<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='content-language' content='en-in'>
        <base href="{global.baseUrl}"/>
        
        <title>
            {head.title} | {global.appName}
        </title>
        <meta name='description' content='{head.description}'>

        <!--STATIC ASSETS-->
        <link type='image/x-icon' rel='icon' href='favicon.ico'>
        <link rel='stylesheet' type='text/css' href='public/app.css' />
    </head>
    <body class="">

        <div class='header'>
            <h2>HEADER</h2>
            <a class='logo' href='/'></a>

            <ul class='menu'>
                <li><a href="/">Home</a></li>
                <li><a class='loggedout' href="/account/create">Signup</a></li>
                <li><a class='loggedout' href="/session/create">Login</a></li>
                <li><a class='loggedIn' href="/checks/all">Dashboard</a></li>
                <li><a class='loggedIn' href="/account/edit">Account Settings</a></li>
                <li><a class='loggedIn' href="#">Logout</a></li>
            </ul>
        </div>
            
        <div>
